Repository BCG-X-Official/pytools, pull requests merged in 2022-02, with the labels that each got.

#293 BUILD: relax requirements for numpy, joblib, and pandas
  pyproject.toml
Labels: build

#294 BUILD: release pytools 1.1.6
  README.rst
  RELEASE_NOTES.rst
  azure-pipelines.yml
  environment.yml
  pyproject.toml
  sphinx/source/_templates/api_landing.rst
  sphinx/source/_templates/custom-module-template.rst
  src/pytools/__init__.py
  src/pytools/expression/_expression.py
  src/pytools/sphinx/_sphinx.py
  src/pytools/viz/_matplot.py
  src/pytools/viz/_text.py
  src/pytools/viz/dendrogram/_style.py
  src/pytools/viz/dendrogram/base/_style.py
  src/pytools/viz/distribution/_distribution.py
  test/test/pytools/test_package_version.py
  test/test/pytools/viz/dendrogram/test_dendrogram.py
Labels: release

#297 BUILD: get the package version in make.py by parsing __init__.py
  RELEASE_NOTES.rst
  make.py
Labels: build

#298 BUILD: release pytools 1.1.7
  RELEASE_NOTES.rst
  condabuild/meta.yaml
  make.py
  src/pytools/__init__.py
Labels: release

#295 BUILD: release pytools 1.2.3
  README.rst
  RELEASE_NOTES.rst
  azure-pipelines.yml
  environment.yml
  make.py
  pyproject.toml
  sphinx/base/conf_base.py
  sphinx/source/_templates/api_landing.rst
  sphinx/source/_templates/custom-module-template.rst
  src/pytools/__init__.py
  src/pytools/api/_api.py
  src/pytools/expression/_expression.py
  src/pytools/parallelization/_parallelization.py
  src/pytools/sphinx/__init__.py
  src/pytools/sphinx/_sphinx.py
  src/pytools/sphinx/_sphinx_py37.py
  src/pytools/viz/_matplot.py
  src/pytools/viz/_text.py
  src/pytools/viz/dendrogram/_style.py
  src/pytools/viz/dendrogram/base/_style.py
  src/pytools/viz/distribution/_distribution.py
  test/test/pytools/test_api.py
  test/test/pytools/test_sphinx.py
  test/test/pytools/viz/dendrogram/test_dendrogram.py
Labels: release

#299 BUILD: get the package version in make_base.py by parsing __init__.py
  RELEASE_NOTES.rst
  sphinx/base/make_base.py
Labels: build

#300 BUILD: release pytools 1.1.8
  RELEASE_NOTES.rst
  sphinx/base/make_base.py
  src/pytools/__init__.py
Labels: release

#296 BUILD: drop Python 3.6 support and enable Python 3.9
  README.rst
  azure-pipelines.yml
  environment.yml
  make.py
  pypi_description.rst
  pyproject.toml
  sphinx/base/conf_base.py
  src/pytools/api/_alltracker.py
  src/pytools/api/doc/_doc.py
  src/pytools/data/_linkage.py
  src/pytools/data/_matrix.py
  src/pytools/expression/_expression.py
  src/pytools/expression/atomic/_atomic.py
  src/pytools/expression/formatter/_python.py
  src/pytools/parallelization/_parallelization.py
  src/pytools/sphinx/util/_util.py
  src/pytools/viz/color/_rgb.py
  test/test/pytools/test_sphinx.py
  tox.ini
Labels: build

#302 API: add function camel_case_to_snake_case
  RELEASE_NOTES.rst
  src/pytools/text/__init__.py
  src/pytools/text/_strings.py
  test/test/pytools/test_text.py
Labels: API

#303 BUILD: release pytools 2.0.dev3
  README.rst
  RELEASE_NOTES.rst
  azure-pipelines.yml
  environment.yml
  make.py
  pypi_description.rst
  pyproject.toml
  sphinx/base/conf_base.py
  sphinx/base/make_base.py
  src/pytools/__init__.py
  src/pytools/api/_alltracker.py
  src/pytools/api/_doc_validator.py
  src/pytools/api/doc/_doc.py
  src/pytools/data/_linkage.py
  src/pytools/data/_matrix.py
  src/pytools/expression/_expression.py
  src/pytools/expression/atomic/_atomic.py
  src/pytools/expression/formatter/_python.py
  src/pytools/parallelization/_parallelization.py
  src/pytools/sphinx/util/_util.py
  src/pytools/text/__init__.py
  src/pytools/text/_strings.py
  src/pytools/viz/color/_rgb.py
  test/test/pytools/test_api.py
  test/test/pytools/test_sphinx.py
  test/test/pytools/test_text.py
  tox.ini
Labels: release

#304 BUILD: release pytools 2.0.dev4
  .pre-commit-config.yaml
  RELEASE_NOTES.rst
  azure-pipelines.yml
  environment.yml
  mypy.ini
  py.typed
  sphinx/base/conf_base.py
  src/pytools/__init__.py
  src/pytools/api/_alltracker.py
  src/pytools/api/_api.py
  src/pytools/api/_decorators.py
  src/pytools/api/_doc_validator.py
  src/pytools/api/doc/_doc.py
  src/pytools/data/_linkage.py
  src/pytools/data/_matrix.py
  src/pytools/data/_simulation.py
  src/pytools/data/linkage/_linkage.py
  src/pytools/expression/_expression.py
  src/pytools/expression/atomic/_atomic.py
  src/pytools/expression/base/_base.py
  src/pytools/expression/composite/_composite.py
  src/pytools/expression/composite/base/_base.py
  src/pytools/expression/formatter/_python.py
  src/pytools/expression/operator/_operator.py
  src/pytools/meta/_meta.py
  src/pytools/parallelization/_parallelization.py
  src/pytools/sphinx/_sphinx.py
  src/pytools/sphinx/util/_util.py
  src/pytools/sphinx/util/_util_py37.py
  src/pytools/text/_text.py
  src/pytools/viz/_matplot.py
  src/pytools/viz/_viz.py
  src/pytools/viz/color/_color.py
  src/pytools/viz/color/_rgb.py
  src/pytools/viz/dendrogram/_draw.py
  src/pytools/viz/dendrogram/_style.py
  src/pytools/viz/dendrogram/base/_style.py
  src/pytools/viz/distribution/_distribution.py
  src/pytools/viz/distribution/base/_base.py
  src/pytools/viz/matrix/_matrix.py
  src/pytools/viz/matrix/base/_base.py
  test/test/pytools/viz/test_color.py
Labels: release
